<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Souls Trip</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">

    <style>
        @import url('https://fonts.googleapis.com/css2? family= Noto+Sans:ital@1 & display=swap');
    </style>
</head>
<body>
    <header>
        <div class="container">
            <a href="/">Souls Trip</a>
            <form method="get" action="/search">
                <input type="search" name="t" placeholder="pesquise por destinos">
            </form>
        </div>
    </header>
    <nav>
        <ul>
            <li class="{{#menu.all}}active{{/menu.all}}"><a href="/">Destinos</a></li>
            <li class="{{#menu.Brasil}}active{{/menu.Brasil}}"><a href="/Brasil">Brasil</a></li>
            <li class="{{#menu.EstadosUnidos}}active{{/menu.EstadosUnidos}}"><a href="/EstadosUnidos">EstadosUnidos</a></li>
            <li class="{{#menu.Europa}}active{{/menu.Europa}}"><a href="/Europa">Europa</a></li>
        </ul>
    </nav>