{{>partials/header}}
{{#banner}}
<section class="banner" style="background-img: url('img/{{background}}')">{{tittle}}</section>

    <h2>{{tittle}} Disponiveis</h2>
    {{/banner}}

    <div class="container list">

    {{#list}}
        <div class="item">
            <img src="img/EGITO" class="item-img">
            <div class="item-name">Egito</div>
            <div class="item-local">cairo: piramides</div>
            <div class="item-cenario">piramide: gizé</div>
        </div>
    {{#list}}
       </div>

{{>partials/footer}}